

<div class="column ">
  <div class="card transparentItem projectCard" data-projectnum="{{id}}">
    <div class="card-content">
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <p class="title">
              {{name}}
            </p>
          </div>
        </div>
        <div class="level-right">
          <button class="delete"></button>
        </div>
      </nav>
    </div>
    <footer class="card-footer">
      <p class="m-3">
        <span>
          Project Manager:  <strong>{{user.name}}</strong>
        </span>
        <br>
        <span>
          Project Due Date:  <strong>{{due}}</strong>
        </span>
      </p>
    </footer>
  </div>
</div>