

<div class="column ">
  <div class="card transparentItem" id="project{{id}}">
    <div class="card-content">
      <p class="title">
        {{name}}
      </p>
    </div>
    <footer class="card-footer">
      <p class="m-3">
        <span>
          Project Manager:  <strong>{{user.name}}</strong>
        </span>
        <br>
        <span>
          Project Due Date:  <strong>{{due}}</strong>
        </span>
      </p>
    </footer>
  </div>
</div>