<body>
  <section class="hero is-fullheight">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item">
              <img src="/img/create_logo.png" alt="Logo">
            </a>
            <span class="navbar-burger" data-target="navbarMenuHeroA">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end ">
              <a href="/" class="navbar-item has-text-white">
                Home
              </a>
              <a href="/about" class="navbar-item has-text-white">
                About
              </a>
              <a href="/contact" class="navbar-item has-text-white">
                Contact
              </a>
            </div>
          </div>
        </div>
      </nav>
    </div>
    
      <div class="container mt-6 has-text-white">
        <p id="homepage_title" class="title  has-text-centered ">
          Work Without Limits
        </p>
        <p class="subtitle has-text-white mt-6 mb-0">
          CreaTe is a visual tool for anyone who wants to plan, organize, and track all their projects and tasks in one place.
        </p>
        <p class="subtitle has-text-white mt-0">
          Here, you are able to :
        </p>
        <ul class="subtitle has-text-white">
          <li class="mb-3">
            {{!-- <span class="icon"><i class="fas fa-angle-double-right"></i></span> --}}
            See and track projects from every perspective</li>
          <li class="mb-3">
            {{!-- <span class="icon"><i class="fas fa-angle-double-right"></i></span> --}}
            Manage your team’s workload</li>
          <li class="mb-3">
            {{!-- <span class="icon"><i class="fas fa-angle-double-right"></i></span> --}}
            Monitor the status of key milestones in real time</li>
          <li class="mb-3">
            {{!-- <span class="icon"><i class="fas fa-angle-double-right"></i></span> --}}
            Communicate with your team, whether you're working from your couch, on the road, or in the office</li>
        </ul>
      </div>    
    

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
      <nav class="tabs">
        <div class="container">
          <ul>
          </ul>
        </div>
      </nav>
    </div>
</section>
</section>
<script src="https://kit.fontawesome.com/ef4e6e05f2.js" crossorigin="anonymous"></script>
<script src="/js/login.js"></script>