<section class="hero is-primary is-fullheight">
     <div class="hero-body">
          <div class="container has-text-centered">
               <div class="column is-4 is-offset-4">
               <div class="box">
                    <form>
                         <div class="field">
                              <label class="label is-large is-left">Sign Up</label>
                         </div>
                         <div class="field">
                              <div class="control">
                                   <input id="signup-email-input" class="input is-primary" name="email" type="email" placeholder="Your Email" autofocus="">
                              </div>
                         </div>
                         <div class="field">
                              <div class="control">
                                   <input id="signup-password-input" class="input is-primary" name="password" type="password" placeholder="Your Password">
                              </div>
                         </div>
                         <button id="create-account-btn" class="button is-primary is-rounded">Create Account <i class="fa fa-sign-in" aria-hidden="true"></i></button>
                    </form>
               </div>
               </div>
          </div>
     </div>
</section>
<script src="/js/signup.js"></script>