<body>
     <section class="hero is-fullheight">
          <div id="welcome" class="hero-body is-hidden">
               <div class="container has-text-centered pt-6">
                    <p id="homepage_title" class="title">
                    Welcome to CreaTe.
                    </p>
                    <p class="is-size-4 has-text-white mt-2">
                    Now go back to login in <span id="countdown">3</span> seconds.
                    </p>
               </div>    
          </div>
     </section>
     <section>
          <div id="modal" class="modal is-active" >
          <div class="modal-background" style="background-color: white; opacity: 0.5"></div>
          <div class="modal-card">
          <header class="modal-card-head gradient">
               <p class="modal-card-title">Sign Up</p>
          </header>
          <section class="modal-card-body" style="background-color: rgba(245, 245, 245, 0.4)">
               <p class="m-2 is-size-5">Your Name</p>
               <input id="newUserName" class="input" type="text" placeholder="First Last">
               <p class="m-2 is-size-5">Your Email</p>
               <input id="newEmail" class="input" type="text" placeholder="sample@create.com">
               <p class="m-2 is-size-5">Password</p>
               <input id="newPass" class="input" type="password" placeholder="At Least 8 characters">
          </section>
          <footer class="modal-card-foot gradient">
               <button id="confirm" class="button is-rounded">Sign Up</button>
               <button id="cancelBtn" class="button is-rounded">Cancel</button>
          </footer>
          </div>
          </div>
     </section>
     
     
</section>
<script src="/js/signup.js"></script>